body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding-bottom: 5%;
}
#header {
    margin-top: 0%;
    width: 100%;
    height: fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#answers {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column; /* This makes the children align vertically */
    gap: 10px; /* Space between buttons */
    padding: 20px;
    border: 1px solid #ccc; /* Box border */
}

.button {
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    
    
  }
  .button:hover {
    background-color: #e2e2e2;
  }
#results{
    display: none;
}
#restart_button{
    display: none;
}